[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pydantic = "*"
invoke = "*"
requests = "*"

[dev-packages]
ipython = "*"
flake8 = "*"
radon = "*"
isort = "*"
black = "*"
regex = "==2021.10.21"  # to fix the library validation error of `black` when using Apple M1 devices
mypy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
